/*
essential styles:
these make the slideshow work
*/

.slides {
    position: relative;
    height: 250px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -999;
    transition: opacity 0.3s;
}

.active {
    opacity: 1;
    z-index: 0;
}

/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 24px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}

.slide:nth-of-type(2) {
    background: orange;
}

.slide:nth-of-type(3) {
    background: green;
}

.slide:nth-of-type(4) {
    background: blue;
}

.slide:nth-of-type(5) {
    background: purple;
}

/* custom style */

body {
  font-family: Arial, sans-serif;
}

.slides {
  margin-bottom: 20px;
  user-select: none;
}

.controls,
.indicators {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  transform: translate(20px, -130px);
}

.control-pause,
.control-prev,
.control-next,
.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: lightsteelblue;
  cursor: pointer;
  user-select: none;
}
.indicator.active {
  background-color: tomato;
}

.control-pause span {
  position:absolute;
}